@{
    ViewData["Title"] = "New Client";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/Clients/step-breadcrumb.css" />
}

<input type="hidden" id="RequestVerificationToken"
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
<input type="hidden" id="Data"
       name="RequestVerificationToken" value="@ViewData["Data"]">

<div class="container-fluid" ng-controller="EditClientController">
    <div class="row">
        <div class="col-xl-8 col-lg-10 offset-xl-2 offset-lg-1">
            <ul class="breadcrumb nav">
                <li class="text-center w-25" ng-class="getBreadcrumFieldClass(0)">
                    <a ng-click="activeTab($event, 0)" class="w-100" data-toggle="tab" href="#type" id="type-tab" title="Client Type">
                        <i class="fas fa-cog mb-1"></i> <span class="d-none d-md-block">Client Type</span>
                    </a>
                </li>
                <li class="text-center w-25" ng-class="getBreadcrumFieldClass(1)">
                    <a ng-click="activeTab($event, 1)" class="w-100" data-toggle="tab" href="#info" id="info-tab" title="Information">
                        <i class="fas fa-user-edit mb-1"></i> <span class="d-none d-md-block">Information</span>
                    </a>
                </li>
                <li class="text-center w-25" ng-class="getBreadcrumFieldClass(2)">
                    <a ng-click="activeTab($event, 2)" class="w-100" data-toggle="tab" href="#scope" id="scope-tab" title="Allowed Scopes">
                        <i class="fas fa-shield-alt mb-1"></i> <span class="d-none d-md-block">Allowed Scopes</span>
                    </a>
                </li>
                <li class="text-center w-25" ng-class="getBreadcrumFieldClass(3)">
                    <a ng-click="activeTab($event, 3)" class="w-100" data-toggle="tab" href="#review" id="review-tab" title="Overview">
                        <i class="fas fa-check-double mb-1"></i> <span class="d-none d-md-block">Overview</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xl-8 col-lg-10 offset-xl-2 offset-lg-1">
            <div class="tab-content">
                <div class="tab-pane fade show active card" id="type">
                    <div class="card-body text-center text-secondary px-5">
                        <h3 class="text-black-50">
                            <small>
                                <b>Setup a Client Application</b>
                            </small>
                        </h3>
                        <h4 class="mb-5"><i>Select the type of application you want to create</i></h4>
                        <div class="row text-black-50">
                            <div class="card-deck">
                                <div class="card cursor-pointer rounded" ng-click="setAllowedGrantTypes('Implicit')" ng-class="{'glow-on': grantType == 'Implicit'}">
                                    <i class="card-img-top fas fa-globe fa-3x pt-4"></i>
                                    <div class="card-body">
                                        <h4 class="card-title"><i>Singple Page Application</i></h4>
                                        <p class="card-text">
                                            A client-side application running in a browser. These applications cannot be trusted to keep secrets or use refresh tokens. Tokens will be sent through via the browser and will be visible to the user.
                                        </p>
                                        <p class="card-text"><small class="text-muted">Grant type: Implicit</small></p>
                                    </div>
                                </div>
                                <div class="card cursor-pointer rounded" ng-click="setAllowedGrantTypes('Hybrid')" ng-class="{'glow-on': grantType == 'Hybrid'}">
                                    <i class="card-img-top fab fa-chrome fa-3x pt-4"></i>
                                    <div class="card-body">
                                        <h4 class="card-title"><i>Web Application</i></h4>
                                        <p class="card-text">
                                            Server-side application that can be trusted to keep a secret and use refresh tokens. Tokens will be sent to a back-end server and will not be visible to the user.
                                        </p>
                                        <p class="card-text"><small class="text-muted">Grant type: Hybrid</small></p>
                                    </div>
                                </div>
                                <div class="card cursor-pointer rounded" ng-click="setAllowedGrantTypes('ClientCredentials')" ng-class="{'glow-on': grantType == 'ClientCredentials'}">
                                    <i class="card-img-top fas fa-globe fa-3x pt-4"></i>
                                    <div class="card-body">
                                        <h4 class="card-title"><i>Robot</i></h4>
                                        <p class="card-text">
                                            Machine-to-machine communication. No humans allowed!
                                        </p>
                                        <p class="card-text"><small class="text-muted">Grant type: Client Credentials</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col px-0 nav justify-content-between">
                                <a class="btn btn-light px-3" asp-controller="Clients" asp-action="Edit" asp-route-id="@ViewData["Id"]">Reset</a>
                                <a class="btn px-3" href="#" ng-class="{'btn-danger': client.Enabled, 'btn-success': !client.Enabled}" ng-click="toggleEnabledClient($event)">{{ client.Enabled ? 'Disable Client' : 'Enable Client' }}</a>
                                <a class="btn btn-primary px-3" href="#" ng-click="shouldAdvanceInfo($event)">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade card" id="info">
                    <div class="card-body">
                        <h3 class="text-black-50 text-center">
                            <small>
                                <b>Setup a {{ grantType == 'Implicit' ? 'Single Page' : grantType == 'Hybrid' ? 'Web' : 'Robot' }} Application</b>
                            </small>
                        </h3>
                        <h4 class="mb-4 text-center text-secondary"><i>Enter client details</i></h4>
                        <div class="form-row">
                            <div class="form-group col-5 col-md-3 required">
                                <label class="control-label">
                                    Client ID
                                </label>
                                <i class="fas fa-info-circle cursor-pointer hover-darken pl-1" title="Unique Identifier for the Resource"></i>
                                <input ng-model="client.ClientId" class="form-control text-primary" placeholder="ex: spa.client" autofocus>
                            </div>
                            <div class="form-group col-7 col-md-4 required">
                                <label class="control-label">Client Name</label>
                                <input ng-model="client.ClientName" class="form-control text-primary" placeholder="ex: Single Page Application">
                            </div>
                            <div class="form-group col-md-5 mb-0" ng-if="grantType != 'Implicit'">
                                <div class="form-group row required">
                                    <div class="col-12">
                                        <label class="control-label">Client Secret</label>
                                        <a href="#" class="float-right px-1" ng-click="generateSecret($event)">Generate secret</a>
                                    </div>
                                    <div class="col-12 px-3">
                                        <div class="align-items-center row">
                                            <div class="col-auto pr-0">
                                                <a href="#" class="btn btn-outline-success" ng-click="clipboardText(client.ClientSecrets[0].Value)">
                                                    <i class="far fa-copy" title="Copy secret to clipboard"></i>
                                                </a>
                                            </div>
                                            <div class="col ellipsis" title="{{client.ClientSecrets[0].Value}}">{{ client.ClientSecrets[0].Value }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-5" ng-if="grantType == 'Implicit'">
                                <div class="row">
                                    <div class="col form-group">
                                        <label class="control-label">Allowed Cors Origin</label>
                                        <input ng-model="client.AllowedCorsOrigins[0].AllowedCorsOrigin" class="form-control text-primary" placeholder="ex: https://www.example.com">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" ng-if="grantType != 'ClientCredentials'">
                            <div class="form-group col-5 col-md-3">
                                <label class="control-label">Display URL</label>
                                <input ng-model="client.ClientUri" class="form-control text-primary" placeholder="ex: https://www.example.com">
                            </div>
                            <div class="form-group col-7 col-md-4">
                                <label class="control-label">Logo URL</label>
                                <input ng-model="client.LogoUri" class="form-control text-primary" placeholder="ex: https://www.example.com">
                            </div>
                            <div class="form-group col-md-5 required">
                                <label class="control-label">Callback URL</label>
                                <input ng-model="client.RedirectUris[0].RedirectUri" class="form-control text-primary" placeholder="ex: https://www.example.com/callback">
                            </div>
                        </div>
                        <div class="form-row" ng-if="grantType != 'ClientCredentials'">
                            <div class="form-group col-md-7 required">
                                <label class="control-label">
                                    Description
                                </label>
                                <textarea ng-model="client.Description" class="form-control text-primary h-md-100"></textarea>
                            </div>
                            <div class="form-group col-md-5">
                                <div class="row">
                                    <div class="col form-group">
                                        <label class="control-label">Logout URL</label>
                                        <input ng-model="client.PostLogoutRedirectUris[0].PostLogoutRedirectUri" class="form-control text-primary" placeholder="ex: https://www.example.com">
                                    </div>
                                </div>
                                <div class="row" ng-if="grantType == 'Hybrid'">
                                    <div class="col form-group">
                                        <label class="control-label">Client-side Logout URL</label>
                                        <input ng-model="client.FrontChannelLogoutUri" class="form-control text-primary" placeholder="ex: https://www.example.com/signout">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required" ng-if="grantType == 'ClientCredentials'">
                            <label class="control-label">Description</label>
                            <textarea ng-model="client.Description" class="form-control text-primary"></textarea>
                        </div>
                        <div class="pt-5 nav justify-content-between">
                            <a class="btn btn-light px-3" asp-controller="Clients" asp-action="Edit" asp-route-id="@ViewData["Id"]">Reset</a>
                            <a class="btn btn-primary px-3" href="#" ng-click="shouldAdvanceScope($event)">Next</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade card" id="scope">
                    <div class="card-body">
                        <h3 class="text-black-50 text-center">
                            <small>
                                <b>Setup Client's Access Scopes</b>
                            </small>
                        </h3>
                        <div class="row">
                            <div class="col-12 mt-4">
                                <h5>Identity Resources</h5>
                            </div>
                            <div class="col-3" ng-repeat="scope in resources.identityScopes track by $index">
                                <div class="checkbox cursor-pointer">
                                    <input id="scope-{{scope}}" type="checkbox" ng-click="addOrRemoveScope({ Scope: scope })" class="pr-2" ng-checked="shouldCheck(scope)">
                                    <label for="scope-{{scope}}" class="align-middle text-black-50 px-1">{{ scope }}</label>
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <h5>API Resources</h5>
                            </div>
                            <div class="col-3" ng-repeat="scope in resources.apiScopes track by $index">
                                <div class="checkbox cursor-pointer">
                                    <input id="scope-{{scope}}" type="checkbox" ng-click="addOrRemoveScope({ Scope: scope })" class="pr-2" ng-checked="shouldCheck(scope)">
                                    <label for="scope-{{scope}}" class="align-middle text-black-50 px-1">{{ scope }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="pt-5 nav justify-content-between">
                            <a class="btn btn-light px-3" asp-controller="Clients" asp-action="Edit" asp-route-id="@ViewData["Id"]">Reset</a>
                            <a class="btn btn-primary px-3" href="#" ng-click="shouldAdvanceFinal($event)">Next</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade card" id="review">
                    <div class="card-body">
                        <h3 class="text-primary text-center">
                            <small>
                                <b>Overview</b>
                            </small>
                        </h3>
                        <div class="row mt-4 text-muted mb-2">
                            <div class="col-md-4">
                                <h4 class="text-primary"><i class="fas fa-key"></i> Client ID: <small>{{client.ClientId}}</small></h4>
                            </div>
                            <div class="col-md-4">
                                <h4>Client Name: <small class="text-primary">{{client.ClientName}}</small></h4>
                            </div>
                            <div class="col-md-4">
                                <h4>Grant: <small class="text-primary">{{grantType}}</small></h4>
                            </div>
                        </div>
                        <div class="row text-muted">
                            <div class="col">
                                <h5>
                                    Description<br />
                                    <small class="text-primary">{{client.Description}}</small>
                                </h5>
                            </div>
                            <div class="col-auto text-center mb-2" ng-if="grantType != 'Implicit'">
                                <h6 class="mb-1">Copy secret</h6>
                                <a href="#" class="btn btn-outline-success" ng-click="clipboardText(client.ClientSecrets[0].Value)">
                                    <i class="far fa-copy" title="Copy secret to clipboard"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row text-muted mt-3 mt-md-4" ng-if="grantType != 'ClientCredentials'">
                            <div class="col-12 text-primary">
                                <h4>Additional information</h4>
                            </div>
                            <div class="col-md-4" ng-if="client.ClientUri">
                                <h5>
                                    Display URL<br />
                                    <small class="text-primary">{{client.ClientUri}}</small>
                                </h5>
                            </div>
                            <div class="col-md-4" ng-if="client.LogoUri">
                                <h5>
                                    Logo URL<br />
                                    <small class="text-primary">{{client.LogoUri}}</small>
                                </h5>
                            </div>
                            <div class="col-md-4" ng-if="client.RedirectUris[0]">
                                <h5>
                                    Callback URL<br />
                                    <small class="text-primary">{{client.RedirectUris[0].RedirectUri}}</small>
                                </h5>
                            </div>
                            <div class="col-md-4" ng-if="client.PostLogoutRedirectUris[0].PostLogoutRedirectUri">
                                <h5>
                                    Logout URL<br />
                                    <small class="text-primary">{{client.PostLogoutRedirectUris[0].PostLogoutRedirectUri}}</small>
                                </h5>
                            </div>
                            <div class="col-md-4" ng-if="grantType == 'Implicit' && client.AllowedCorsOrigins[0] && client.AllowedCorsOrigins[0].AllowedCorsOrigin">
                                <h5>
                                    Allowed Cors Origin<br />
                                    <small class="text-primary">{{client.AllowedCorsOrigins[0].AllowedCorsOrigin}}</small>
                                </h5>
                            </div>
                            <div class="col-md-4" ng-if="grantType == 'Hybrid' && client.FrontChannelLogoutUri">
                                <h5>
                                    Client-side Logout URL<br />
                                    <small class="text-primary">{{client.FrontChannelLogoutUri}}</small>
                                </h5>
                            </div>
                        </div>
                        <div class="row text-muted mt-3 mt-md-4">
                            <div class="col-12">
                                <h4 class="text-primary">Allowed Scopes</h4>
                                <span ng-repeat="scope in client.AllowedScopes track by $index">
                                    {{scope.Scope}}{{ $index != client.AllowedScopes.length - 1 ? ',' : '' }}
                                </span>
                            </div>
                        </div>
                        <div class="pt-5 nav justify-content-between">
                            <a class="btn btn-light px-3" asp-controller="Clients" asp-action="Edit" asp-route-id="@ViewData["Id"]">Reset</a>
                            <a class="btn btn-success px-3" href="#" ng-click="update($event)">Change</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="d-none" asp-controller="Clients" asp-action="Index" id="cancel"></a>

<script src="~/js/Clients/EditClientController.js"></script>