@model ClientsViewModel

@{
    ViewData["Title"] = "Clients";
}

@if (Model.Clients.Count == 0)
{
    <div class="container">
        <div class="page-header">
            <h3>Access Clients</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="alert alert-light">
                    There is no Access Client available.
                </div>
            </div>
            <div class="col-12">
                <a class="btn btn-success pull-right"
                   asp-action="New">Add new Client</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="page-header">
            <h3>Access Clients</h3>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="dataTable" class="table table-bordered table-responsive-md">
                    <thead class="thead-light">
                        <tr>
                            <th class="align-middle text-center" scope="col">#</th>
                            <th class="align-middle" scope="col">
                                Unique ID
                                <i class="fas fa-info-circle cursor-pointer hover-darken" title="Unique Identifier for the Resource"></i>
                            </th>
                            <th class="align-middle" scope="col">Client Name</th>
                            <th class="align-middle" scope="col">Description</th>
                            <th class="align-middle" scope="col">Grant Type</th>
                            <th class="align-middle" scope="col">Enabled</th>
                            <th class="align-middle" scope="col">Scopes</th>
                            <th class="align-middle" colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in Model.Clients)
                        {
                            <tr>
                                <th class="text-center" scope="row">@client.Id</th>
                                <td>@client.ClientId</td>
                                <td>@client.ClientName</td>
                                <td>@client.Description</td>
                                <td>@client.AllowedGrantTypes.FirstOrDefault()?.GrantType</td>
                                <td class="align-middle text-center">
                                    @if (client.Enabled)
                                    {
                                        <i class="far fa-check-circle text-success"></i>
                                    }
                                </td>
                                <td>
                                    @{ var lastScope = client.AllowedScopes.LastOrDefault(); }
                                    @foreach (var clientScope in client.AllowedScopes)
                                    {
                                        @if (!clientScope.Equals(lastScope))
                                        {
                                            @clientScope.Scope<span class="pr-1">,</span>
                                        }
                                        else
                                        {
                                            @clientScope.Scope
                                        }
                                    }
                                </td>
                                <td class="align-middle text-center">
                                    <a asp-controller="Clients" asp-action="Edit" asp-route-id="@client.Id"
                                       data-toggle="tooltip" data-placement="top" title="Edit client">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                                <td class="align-middle text-center">
                                    <form asp-action="Delete" asp-route-id="@client.Id">
                                        <a class="text-danger" href="#" onclick="$(this).closest('form').submit();"
                                           data-toggle="tooltip" data-placement="top" title="Remove client">
                                            <i class="fas fa-minus-circle"></i>
                                        </a>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <a class="btn btn-success pull-right" asp-controller="Clients" asp-action="New">Add new Client</a>
            </div>
        </div>
    </div>
}
