@model ConsentViewModel
<div class="container page-consent">
    <div class="row page-header">
        <div class="col-md-11 offset-md-1 col-lg-10 offset-lg-2">
            @if (Model.ClientLogoUrl != null)
            {
                <div class="client-logo mr-4">
                    <img src="@Model.ClientLogoUrl">
                </div>
            }
            <h3>
                @Model.ClientName
                <small>is requesting your permission</small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            @Html.Partial("_ValidationSummary")

            <form asp-action="Index"
                  class="consent-form">
                <input type="hidden" asp-for="ReturnUrl">

                <div class="mt-3">Uncheck the permissions you do not wish to grant.</div>

                @if (Model.IdentityScopes.Any())
                {
                    <div class="card consent-buttons my-3">
                        <div class="card-header text-primary">
                            <i class="fas fa-user"></i>
                            Personal Information
                        </div>
                        <ul class="list-group">
                            @foreach (var scope in Model.IdentityScopes)
                            {
                                @Html.Partial("_ScopeListItem", scope)
                            }
                        </ul>
                    </div>
                }

                @if (Model.ResourceScopes.Any())
                {
                    <div class="card my-3">
                        <div class="card-header">
                            <i class="fas fa-tasks"></i>
                            Application Access
                        </div>
                        <ul class="list-group">
                            @foreach (var scope in Model.ResourceScopes)
                            {
                                @Html.Partial("_ScopeListItem", scope)
                            }
                        </ul>
                    </div>
                }

                @if (Model.AllowRememberConsent)
                {
                    <div class="consent-remember cursor-pointer">
                        <label>
                            <input class="consent-scopecheck" asp-for="RememberConsent"> <strong>Remember My Decision</strong>
                        </label>
                    </div>
                }

                <div class="consent-buttons">
                    <button name="button" value="yes" class="btn btn-primary" autofocus>Yes, Allow</button>
                    <button name="button" value="no" class="btn">No, Do Not Allow</button>
                    @if (Model.ClientUrl != null)
                    {
                        <a class="float-right btn btn-secondary" href="@Model.ClientUrl">
                            <i class="fas fa-info-circle"></i>
                            <strong>@Model.ClientName</strong>
                        </a>
                    }
                </div>
            </form>
        </div>
    </div>
</div>